/* General Container for the Navigation */
.navigation-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Adds space between elements */
  }
  
  /* Theme Indicator Styling */
  .theme-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; /* Optional margin */
  }

  .action-bar {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }

  .card-display {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; /* Ensure it takes full width of the parent */
    height: 100%; /* Ensure it takes full height of the parent */
    margin: 20px 0; /* Optional margin */
  }


  