
  
  /* Theme Indicator Styling */
  .theme-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px; /* Optional margin */
  }

  .action-bar {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }

  .card-display {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; /* Ensure it takes full width of the parent */
    height: 100%; /* Ensure it takes full height of the parent */
    margin: 20px 0; /* Optional margin */
  }

  
  /* Add additional styling to make text inside card square look good */
  .card-display app-navigcard {
    display: block; /* Ensures the content is properly displayed */
    font-size: 14px; /* Set font size for better readability */
    color: #333; /* Set text color */
    text-overflow: ellipsis; /* In case text is too long */
    white-space: nowrap; /* Prevent text wrapping */
    overflow: hidden; /* Hide overflowing text */
  }
  