<div class="card-container">
    @if (Navdata['data'][card_number-1]) { 
        @let card = Navdata['data'][card_number-1];
    <div class="tags">
        <span class="tag planning">{{ card.sous_categorie }}</span>
    </div>

    <h2 class="category-title">{{ card.titre }}</h2>

    @if(card.contenu.length > 1){<ul>
        @for( item of card.contenu; track $index){
        <li >{{ item }}</li>}
    </ul>}
    @if(card.contenu.length == 1){
    <p>{{ card.contenu[0] }}</p>}
    <div class="imagewrapper">
        @if(card.image){
        @if('/images/solution_' + card.id + '.png'){
        <img class="image" [src]="'images/solution_' + card.id + '.png'">}
        @if(card.image_comparaison){
            <div class="comparison-container">
                <div class="comparison-label bad">Mauvais</div>
                <div class="comparison-label good">Bien</div>
            </div>
        }
    
    }
    </div>
    @if(card.source?.nom){<div class="highlight">
        <div class="highlight-text">
            <strong>{{ card.source?.nom }}</strong><br>
            {{ card.source?.description }}
        </div>
    </div>}

    <label for="dropdown">Qui s'en occupe?</label>
    @for(dropdown of dropdowns; track $index){
    <div class="dropdown-wrapper">
        <p-dropdown 
            [options]="getFilteredOptions($index)"
            [(ngModel)]="dropdown.selectedOption"
            placeholder="Choisissez une option"
            (onChange)="onDropdownChange($index)" 
            class="custom-dropdown"
            [filter]="true" 
            [showClear]="true" 
            [scrollHeight]="'150px'">
        </p-dropdown>
        @if ($index>0){
        <button (click)="removeDropdown($index)" class="remove-button">X</button>}
    </div>}
    @if(dropdowns[dropdowns.length - 1].selectedOption && hasRemainingOptions()){
    <button (click)="addDropdown()">Ajouter un autre</button>}
}
</div>