<div class="card-container">

  @if (Navdata['data'][card_number]) { 
      @let card = Navdata['data'][card_number];

      <div class="question-container">
      <h3 class="question-title">{{ card.nom }}</h3>
      <p class="question-text">{{ card.question }}</p>
      
    </div>

    <div class="desc-button-container">
    <p class="question-desc">{{ card.description }}</p>


    <label class = "radioButton">
        <p-radiobutton 
        (click)="onAnswer(true)" 
        [disabled]="card_answer" 
        [(ngModel)]="card_answer"
        inputId="answertrue">
    </p-radiobutton>
    <label for="answertrue" class="at">Oui</label>
    </label>

    <label class = "radioButton">
        <p-radiobutton 
      (click)="onAnswer(false)" 
      [disabled]="!card_answer"
      [(ngModel)]="card_answer"
      inputId="answerfalse">
    </p-radiobutton>
    <label for="answerfalse" class="af">Non</label>
    </label>
</div>
  }
</div>


