/* Card Container Styling */

body, html {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}



  .card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     /* One-third of the viewport height */
    padding: 20px; /* Optional padding */
  }

  .question-container {
    display: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px; /* One-third of the viewport width */
    height: 250px;
    background-color: #e06c06; /* Colored background */
    border: 2px solid #ccc; /* Optional border */
    border-radius: 8px; /* Optional rounded corners */
    padding: 20px; /* Optional padding */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .question-title {
    font-size: 16px;
    font-weight: bold;
    color: #0b4c31;
    margin-bottom: 50px; /* Reduced spacing below the question title */
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: 'Lato';
  }
  
  /* Question Text Styling */
  .question-text {
    font-size: 26px;
    color: #0b4c31;
    text-align: center;
    overflow: hidden; /* Hide overflow content */
    word-wrap: break-word; /* Enable word wrapping */
    word-break: break-word; /* Break words that are too long */
    white-space: normal; /* Allow the text to wrap naturally */
    margin-bottom: 20px;
    max-width: 100%; /* Ensure it takes full width of the parent */
    height: auto; /* Adjust height to fit content */
    line-height: 1.3em; /* Reduced line height for tighter text spacing */
    padding: 0 10px; /* Reduced padding */
    font-weight: bold; /* Make the question text bold */
    font-family: 'Lato';
  }

  .desc-button-container {
    display: center;
    flex-direction: column;
    align-items: center;  
    justify-content: center;
    width: 600px; /* One-third of the viewport width */
    height: 200px;
    background-color: #ffffff; /* Colored background */
  
    border-radius: 8px; /* Optional rounded corners */
    padding: 20px; /* Optional padding */
    font-family: 'Lato';
  }

  .question-desc {
    font-size: 16px;
    color: #333333;
    text-align: center;
    overflow: hidden; /* Hide overflow content */
    word-wrap: break-word; /* Enable word wrapping */
    word-break: break-word; /* Break words that are too long */
    white-space: normal; /* Allow the text to wrap naturally */
    margin-bottom: 20px;
    max-width: 100%; /* Ensure it takes full width of the parent */
    height: auto; /* Adjust height to fit content */
    line-height: 1.3em; /* Reduced line height for tighter text spacing */
    padding: 0 10px; /* Reduced padding */
    font-family: 'Lato';
  }
  

  .radioButton {
    display:flex;
    width:100%;
    font-size:1,5em;
    border: 2px solid gray;
    border-radius: 8px;
    padding: 4px;
    margin: 0 auto;
    align-items: center;
    vertical-align: middle;
    word-wrap: break-word;
    font-family: 'Lato';

    --p-radiobutton-icon-size : 1em;
  }

  .p-radiobutton .p-radiobutton-box {
    border: 2px solid gray;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .p-radiobutton .p-radiobutton-box.p-highlight {
    background-color: white;
    border-color: black;
  }
  
  .p-radiobutton .p-radiobutton-box.p-highlight .p-radiobutton-icon {
    width: 12px;
    height: 12px;
    background-color: black;
    border-radius: 50%;
  }