<div class="card-container">

  @if (Navdata['data'][card_number]) { 
      @let card = Navdata['data'][card_number];

      <div class="question-container">
      <h3 class="question-title">{{ card.nom }}</h3>
      <p class="question-text">{{ card.question }}</p>
      </div>
    
    <div class="desc-button-container">

      <div class="desc-container">
      <p class="question-desc">{{ card.description }}</p>
      </div>

    <div class="radiobutton-container"></div>
    <label [ngClass]="{'radioButton': true,'not-clickable': card_answer, 'clickable' : !card_answer}">

      <p-radiobutton class="radio"
        type="radio"
        name="OuiNon"
        value="Oui"
        [(ngModel)]="ngModel1"
        (click)="onAnswer(true)" >
      </p-radiobutton>
    
    <p class="choice-text">Oui</p>

    </label>


    <label [ngClass]="{'radioButton': true,'not-clickable': !card_answer, 'clickable' : card_answer}">

      <p-radiobutton  class="radio"
      type="radio"
      name="OuiNon"
      value="Non"
      [(ngModel)]="ngModel2"
      (click)="onAnswer(false)" >
    </p-radiobutton>

    

    <p class="choice-text">Non</p>

    </label>

    
  
  </div>
  }
</div>


