<div style="margin: auto; width: 50%;">
    <p-button (click)="exportexcel()">Télécharger l'affection des joueurs</p-button>
   
    <table id="excel-table">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Email</th>
          <!-- Dynamically add task columns -->
          <th *ngFor="let taskIndex of maxTaskIndexes">Tâche {{taskIndex + 1}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{user.name}}</td>
          <td>{{user.email}}</td>
          <!-- Dynamically add task data -->
          <td *ngFor="let task of user.getTask(); let i = index">
            {{task.id}}
          </td>
          <!-- Fill empty columns if the user has fewer tasks -->
          <td *ngFor="let empty of emptyColumns(user.getTask().length)"></td>
        </tr>
      </tbody>
    </table>
</div>

<div class="lower-section">
    <p-divider></p-divider>

    <!-- Bouton pour démarrer le jeu -->
    <div class="avance-button">
        <p-button
        class="avance"
        (click)="continuer()"
        aria-label="Commencer le Jeu"
        label="Continuer"
        severity="primary">
        </p-button>
    </div>
</div>