<div style="margin: auto; width: 50%;">
    <p-button (click)="exportexcel()">Télécharger l'affection des joueurs</p-button>
   
    <table id="excel-table">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Email</th>
          <th>Tâches</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{user.name}}</td>
          <td>{{user.email}}</td>
          <td>
            <ul>
              <li *ngFor="let task of user.getTask()">
                {{task.id}}
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
</div>

<div class="lower-section">
    <p-divider></p-divider>

    <!-- Bouton pour démarrer le jeu -->
    <div class="avance-button">
        <p-button
        class="avance"
        (click)="continuer()"
        aria-label="Commencer le Jeu"
        label="Continuer"
        severity="primary">
        </p-button>
    </div>
</div>