<div style="margin: auto; width: 50%;">
    <p-button (click)="exportexcel()">Télécharger l'affectation des joueurs</p-button>
   
    <table id="excel-table" [hidden]="true">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Email</th>
          <!-- Ajoute les colonnes de tâches dynamiquement -->
          <th *ngFor="let taskIndex of maxTaskIndexes">Tâche {{taskIndex + 1}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{user.name}}</td>
          <td>{{user.email}}</td>
          <!-- Ajoute les données des tâches dynamiquement-->
          <td *ngFor="let task of user.getTask(); let i = index">
            {{task.id}}
          </td>
          <!-- Remplir les colonnes vides si il a moins de tâches que le nombre maxi parmi les utilisateurs -->
          <td *ngFor="let empty of emptyColumns(user.getTask().length)"></td>
        </tr>
      </tbody>
    </table>
</div>

<div class="lower-section">
    <p-divider></p-divider>

    <div class="avance-button">
        <p-button
        class="avance"
        (click)="continuer()"
        label="Continuer"
        severity="primary">
        </p-button>
    </div>
</div>