<div class="theme-indicator-container">
  <ol class = "ProgressBar">
    @for (categorie of categories; track $index){
      @if (cat  === categorie){
        <li class="ProgressBar">
          <svg class="ProgressBar-icon-now"><use xlink:href="#checkmark-bold"/></svg>
          <div class = "ProgressBar-span-now">
            <span class="ProgressBar-stepLabel-now">{{categories[$index]}}</span>
          </div>
          <div class = "ProgressBar-wellFill">
            <div class="ProgressBar-wellFill-now" style = 'width:{{percentage}}%;'>
              <span class="void"></span>
            </div>
          </div>
        </li>
      }
      @else if ($index < index_cat){
        <li class="ProgressBar">
          <svg class="ProgressBar-icon-before"><use xlink:href="#checkmark-bold"/></svg>
          <div class = "ProgressBar-span-before">
            <span class="ProgressBar-stepLabel-before">{{categories[$index]}}</span>
          </div>
          <div class = "ProgressBar-wellFill-before">
            <span class="void"></span>
          </div>
        </li>
      }
      @else{
      <li class="ProgressBar">
        <svg class="ProgressBar-icon"><use xlink:href="#checkmark-bold"/></svg>
        <div class = "ProgressBar-span">
          <span class="ProgressBar-stepLabel">{{categories[$index]}}</span>
        </div>
        <div class = "ProgressBar-wellFill">
          <span class="void"></span>
        </div> 
      </li>
      }
    }
    
    <li class="ProgressBar">
      <svg class="ProgressBar-icon"><use xlink:href="#checkmark-bold"/></svg>
      <div class = "ProgressBar-span">
        <span class="ProgressBar-stepLabel"> Fin </span>
      </div>
      <div class = "ProgressBar-wellFill-void">
        <span class="void"></span>
      </div> 
    </li>
  </ol>
</div>