<div class="presentation-section">
  <h1>Inclusif, le jeu</h1>
  <h2>Concevons nos services numériques pour tout le monde !</h2>
  <p-image
    src="images/banner.png"
    [imageStyle]="{ objectFit: 'contain' }"
    width="80%"
  />
  <p>
    Bienvenue sur Inclusif, le jeu.
    <br>
    Ce jeu vous permet d’aborder de manière ludique les problèmes liés à l’inclusivité
  </p>
</div>

<div class="lower-section">
  <p-divider/>
  
  <!-- Bouton pour démarrer le jeu -->
  <div class = "start-button">
    <p-button
      class = "start"
      (click)="commencer()"
      label = "C'est parti !"
      severity="primary">
    </p-button>
  </div>
</div>

