<div class="container">
    <h1>Inclusif, le jeu</h1>
    <h3>Déroulement du jeu</h3>

    <p>Vous avez rassemblé une majorité des profils de l'équipe en charge du service, et avez 1h30 à 2 heures devant vous ? Parfait !<br>
    <p>Voici les différentes étapes d’Inclusif, le jeu. </p>
    <p>Avant de commencer : inscription des joueurs pour faciliter l'attribution des actions</p>
    <p>1. Échauffement, grâce au Quiz en ligne - 5 à 10 minutes</p>
    <p>2. Analyse globale de l'inclusivité de votre service numérique - 30 minutes</p>
    <p>3. Découverte, sélection et attribution des solutions à mettre en œuvre - 40 minutes</p>

</div>

<div class="lower-section">
    <p-divider/>

    <!-- Bouton pour démarrer le jeu -->
    <div class = "avance-button">
        <p-button
        class = "avance"
        (click)="continuer()"
        label = "Continuer"
        severity="primary">
        </p-button>
    </div>
</div>
  