<div class="container">
    <h1>Inclusif, le jeu</h1>
    <h3>3. Découverte et sélection des solutions à mettre en oeuvre</h3>
    
    <p>Vous avez réalisé un premier diagnostic de votre service numérique : bravo ! <br> A présent, identifiez les solutionsà mettre en place pour chaque action que vous avez peu ou pas réalisée.</p>
    <p>Pour chaque catégorie déclarée comme insuffisamment prise en compte précédemment (réponse « non (ou ne sait pas) »), lisez attentivement les cartes, et sélectionnez celles que vous choisissez de mettre en place en dessous de la pièce de catégorie correspondante.</p>
    <p>À la fin de cette étape, vous obtiendrez une liste de solutions concrètes à mettre en place pour rendre votre service numérique plus inclusif.</p>
</div>


<div class="lower-section">
    <p-divider/>

    <!-- Bouton pour démarrer le jeu -->
    <div class = "avance-button">
        <p-button
        class = "avance"
        (click)="continuer()"
        label = "Commencer la découverte des solutions"
        severity="primary">
        </p-button>
    </div>
</div>

