

.navigation-button{
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  display: inline-flex; /* Ensure the button respects width and height */
  align-items: center; /* Center content vertically */
  justify-content: center;
}
  
::ng-deep p-button > button {
  width: 150px ; /* Force the width */
  height: 40px ; /* Force the height */
}

::ng-deep .p-button.p-button-secondary {
  background-color: #FFFFFF ;
  color: #333333;
  border: 1px solid #333333 !important;
}
