

.navigation-button{
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  display: inline-flex;
  align-items: center; 
  justify-content: center;
}
  
::ng-deep p-button > button {
  width: 150px ; 
  height: 40px ;
}

::ng-deep .p-button.p-button-secondary {
  background-color: #FFFFFF ;
  color: #333333;
  border: 1px solid #333333 !important;
}
