<div class="container">
    <h1>Inclusif, le jeu</h1>
    <h3>2. Analyse de l'inclusivite de votre service numérique</h3>

    <p>Le but de cette étape est de vous permettre d’analyser l’inclusivité globale actuelle de votre service numérique.</p>
    <p>Pour cela, vous allez répondre à une dizaine de questions portant sur différents domaines d’application de l’inclusivité numérique. <br>
     À la fin de cette étape, vous aurez une vision d’ensemble sur l’inclusivité de votre service.</p>
    <p> <strong>A savoir</strong> : un outil d’évaluation détaillée est disponible dans la <a target ="_blank" href="https://inclusivite-resin.grandlyon.com/ressources/" target="_blank">ressourcerie du jeu</a>, pour évaluer plus finement votre service après l’application des bonnes pratiques</p>
</div>

<div class="lower-section">
    <p-divider/>
  
    <!-- Bouton pour démarrer le jeu -->
    <div class = "avance-button">
        <p-button
        class = "avance"
        (click)="continuer()"
        label = "Commencer l'analyse"
        severity="primary">
        </p-button>
    </div>
</div>
