:host{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.upper-div-solution {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: auto;
}
/* Card Display Area Styling */
.card-display {
  margin-top: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
}

app-theme-indicator {
  margin-bottom: 10px; /* Adds spacing between the first element and the row */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120%;
  height: auto;
  padding: 0px;
}

/* Additional styling for card content */
.card-display app-navigcard {
  margin-top: 20px; /* Ajuste la marge haute pour éviter un trop grand espace */
  align-self: flex-start; /* Place la carte en haut de son conteneur */
  display: block;
  font-size: 14px;
  color: #333;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.lower-div-solution {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  width: 100%;
  position: relative;
  bottom:0px;
  margin-top: 25px;
  height:auto;
}

/* Theme Indicator Styling */
.theme-indicator {
  margin-bottom: 10px; /* Adds spacing between the first element and the row */
}

/* Styling for Button Containers */
.button-container {
  margin: 0 10px; /* Adjust for consistent spacing */
}

.action-bar {
  display: flex;
  justify-content: center;
  margin: 0px 0;
  bottom:0px;
}

p-divider{
  margin: 0;
  padding-bottom: 40px;
  width:80%;
}

.titre{
  text-align:center;
}