
 
    <!-- Theme Indicator -->
    <app-theme-indicator [id]="theme_currentNumber"></app-theme-indicator>
    <!-- Card Number Display -->
    <div class="navigation-container">
    <div class="card-display">
      <app-navigation-card-solutions [card_number]="currentNumber"></app-navigation-card-solutions>
    </div>
    <div class="horizontal-group">
    <!-- Back Button -->
    <div class="button-container">
      <app-navigation-button-solutions 
        [avance]="false" 
        (cardChange)="currentNumber = $event"
        (catChange)="cat = $event"
        (themeChange)="theme_currentNumber = $event">
      </app-navigation-button-solutions>
    </div>
  
    
  
    <!-- Next Button -->
    <div class="button-container">
      <app-navigation-button-solutions 
        [avance]="true" 
        (cardChange)="currentNumber = $event"
        (catChange)="cat = $event"
        (themeChange)="theme_currentNumber = $event">
      </app-navigation-button-solutions>
    </div>
    </div>
  </div>
